<a href="https://colab.research.google.com/github/Ali-mohammadi-design/ML-practice/blob/main/L.R1_importing_data_and_spliting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("heellllloooo")

heellllloooo

In [2]:
import pandas as pd
data=pd.read_excel("data.xlsx")

In [4]:
data.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [8]:
x=data.iloc[:,0:3].values

In [9]:
type(x)

numpy.ndarray

In [13]:
x

array([[  14.96,   41.76, 1024.07],
       [  25.18,   62.96, 1020.04],
       [   5.11,   39.4 , 1012.16],
       ...,
       [  31.32,   74.33, 1012.92],
       [  24.48,   69.45, 1013.86],
       [  21.6 ,   62.52, 1017.23]])

In [14]:
y=data.iloc[:,4].values

In [15]:
y

array([463.26, 444.37, 488.56, ..., 429.57, 435.74, 453.28])

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=0)